@model IEnumerable<MiniStore.Models.Product>

@{
    ViewBag.Title = "Buyer";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    <br> </br>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Adauga", "Sum", new { id = item.Price }) |
                @Html.ActionLink("Scoate", "Sum", new { id = item.Price })
            </td>
        </tr>
    }

</table>

<br> </br>

<label> Suma totala: </label>
<ul> @ViewBag.Num </ul>

<br></br>
@Html.ActionLink("Finish Shopping", "Finish")